html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.nav-item:hover {
    background-color: #056386;
    border-radius: 8px;
}

body {
    min-width: 100vw;
}

img {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.click{
    background-color: aqua;
}